.common {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  padding: 5px 10px;

  text-align: center;

  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);

  font-weight: 500;
}

.red {
  color: var(--white);
  background-color: #de0000;

  font-weight: 600;
}

.green {
  color: var(--green);
  background-color: var(--green-light);

  font-weight: 700;
}

.primary {
  color: var(--primary);
  border: 1px solid var(--primary);

  font-weight: 500;
}

.grey {
  color: var(--white);
  background-color: #b3c0d9;

  font-weight: 600;
}
